@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Spectral:wght@400;700&display=swap");

:root {
  --yellow: #ffc017;
  --black: #19191919;
  --green: #1a8917;
}

img {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

/* NAVBAR */

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffc017;
  padding: 1% 0 1% 0;
  border-bottom: 1px solid black;
  transition: "background-color 0.5s ease";
  z-index: 2;
}

.navbar img {
  height: 25px;
  padding-left: 35%;
}

.SVG {
  display: flex;
  flex-basis: 30%;
}

.container {
  display: flex;
  padding-right: 4%;
  font-size: 14px;
}

.container li {
  list-style: none;
  padding-left: 30px;
  color: black;
}

.container li,
a {
  text-decoration: none;
  color: black;
}
.subContainer {
  display: flex;
  align-items: center;
}
.navButton {
  background-color: black;
  border-style: none;
  border-radius: 20px;
  padding: 11px 18px 11px 18px;
  color: white;
}

/* HEADER END */

.yellow_container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffc017;

  flex-basis: 10%;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.sectionContainer {
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  display: flex;
  padding-left: 18%;
  flex-basis: 50%;
  gap: 40px;
}
.sectionContainer h1 {
  flex-basis: 100%;
  font-size: 110px;
  font-family: "Spectral";
  font-weight: 400;
  letter-spacing: -5px;
}
.sectionContainer p {
  flex: 1 1 100%;
  font-size: 22px;
  text-wrap: wrap;
}
.sectionContainer button {
  font-size: 18px;

  padding: 10px 60px 10px 50px;
  border-style: none;
  color: white;
  background-color: black;
  border-radius: 20px;
}

.h2_container {
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  margin-left: 19.7%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.subMcontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 18% 25px;
  border-bottom: 1px solid rgb(208, 208, 208);
}

.main_container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.subMcontainer .contenitore {
  flex-wrap: wrap;
  display: flex;
  flex-basis: calc(100% / 3);
  padding: 15px 0;
}

.number {
  font-size: 1.8rem;
  flex-basis: 10%;

  color: rgba(208, 208, 208, 0.577);
}

.contenitoreTesto {
  flex-basis: 85%;
}
.name {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: bold;
}

.contenitore h4 {
  padding: 20px 0 20px 0;
}

.contenitore img {
  border-radius: 100%;
  height: 20px;
  width: 20px;
}
.info {
  font-weight: bold;
}
.data {
  font-size: 13px;
  color: grey;
}

/* INIZIO INFINITE / ASIDE */

.contenitoreAll {
  display: flex;
  margin-top: 60px;
}

.infinite_content {
  flex-basis: 50%;
  padding-left: 18%;
}

aside {
  display: flex;
  flex-basis: 50%;
  padding-right: 16%;
  height: 300px;
}

.h5_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  flex-basis: 100%;
  font-size: 15px;
}
.aside_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.aside_container .listContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
}
.listContainer {
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.listContainer li {
  flex-basis: calc(100% / 4);
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;

  margin: 2px;

  border-radius: 30px;

  background-color: rgba(224, 224, 224, 0.437);
}

.aside_container ul {
  text-align: center;
  align-items: center;
  justify-items: center;
}

.topic_link a {
  color: #1a8917;
  font-size: 14px;
}
.topic_link {
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(208, 208, 208);
  width: 80%;
}

.sublistContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: grey;
}
.aside_container .sublistContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sublistContainer li {
  display: flex;
  text-decoration: none;
  list-style: none;
  flex-wrap: wrap;
  flex-basis: calc(100% / 5);
  padding: 8px;
}
.sublistContainer a {
  color: grey;
  font-size: 14px;
}

.infinite_content {
  max-height: 600px;
  overflow-y: scroll;
}

.infinite_content span {
  background-color: rgba(224, 224, 224, 0.437);
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
}
