#logo {
  width: 50px;
}

header {
  display: flex;

  border-radius: 30px;
  border: 1px solid yellow;
  background-color: yellow;

  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
  text-align: center;
  flex-basis: 50%;
}
.navbar li {
  padding: 30px;
  display: inline-flex;
  justify-content: space-between;
}
