/* Your styles here */

body {
  color: #393d41;
  font-weight: 1.2rem;
  font-family: Open Sans;
  line-height: 1.65;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #25a2c3;
  font-family: Montserrat;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
}
footer + a {
  color: white;
  color: #c8e7f0;
}

.container {
  text-align: center;
}

header {
  text-align: center;
}
.background-logo {
  background-color: black;
  height: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#logo {
  height: 50px;
}

.background-h1 {
  padding-top: 50px;
  height: 270px;
  background-image: url(../images/banner.jpg);

  background-position: center;
}

.partiamo {
  font-family: Montserrat;
  font-weight: 700;
  margin-top: 40px;
  display: inline-block;
  border: 1px solid #f04c2f;
  border-radius: 5px;
  color: white;
  background-color: #f04c2f;
  padding: 5px 25px;
}

.cercheranno {
  margin-top: 50px;
  margin-bottom: 30px;
}

.remotework {
  margin-bottom: 40px;
}
.remotework h3 {
  padding-bottom: 5px;
}

.notebook {
  border-radius: 100%;
  height: 326px;
  width: 326px;
  margin: 30px;
}

.ruolo {
  margin-bottom: 30px;
}
.ruolo h4 {
  padding-bottom: 10px;
}

.libertà {
  margin-bottom: 60px;
}

.guarantee {
  padding-top: 50px;
  color: white;
  background-color: rgb(255, 47, 0);
}
.guarantee .italic {
  font-style: italic;
}
.epicode-bold {
  font-family: Montserrat;
  font-size: 1.9rem;
  display: block;
  padding-bottom: 20px;
}

.CEO {
  padding-top: 20px;
  padding-bottom: 40px;
}
.mario {
  font-weight: bold;
  font-size: 1.2rem;
}

.aside-container {
  margin-top: 70px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 70px;
}

.img1,
.img2,
.img3 {
  margin-top: 50px;
  height: 270px;
  width: 400px;
}

.container-img1,
.container-img2,
.container-img3 {
  border: 1px solid #dee1e3;
}

.pc,
.impara,
.lavora {
  padding-bottom: 70px;
}

h5,
h6,
h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footercontent {
  background-color: #25a2c3;
  text-align: center;
  color: white;
  padding-bottom: 50px;
}

.contattaci {
  font-family: Montserrat;
  font-size: 2.3rem;
  padding-top: 40px;
  padding-bottom: 20px;
}

.link {
  border-bottom: 1px solid #c8e7f0;
  padding-bottom: 30px;
}
.link a {
  color: #c8e7f0;
}

.copyright {
  margin-top: 30px;
}
.copyright a {
  color: #c8e7f0;
}
